<h4>ジャンル一覧・追加</h4>
 <div class="container">
  <div class="py-3">
    <%= form_with model: [:admin, @genre], local:true do |f| %>
      ジャンル名
      <%= f.text_field :name %>
      <%= f.submit '新規登録', class: 'btn-success btn-sm' %>
    <% end %>
  </div>
 </div>


<div class="container">
  <table class="table table-sm">
   <thread>
    <tr>
     <th>ジャンル</th>
     <th>ステータス</th>
     <th></th>
    </tr>
   </thread>
   <tbody>
    <% @genres.each do |genre| %>
    <tr>
     <td><%= genre.name %></td>
     <td>
       <% if genre.is_active == true %>
       <p class="text-success">有効</p>
       <% elsif genre.is_active == false %>
       <p class="text-secondary">無効</p>
       <% end %>
       </td>
     <td><%= link_to "編集する", edit_admin_genre_path(genre), class: 'btn-success btn-sm' %></td>
    </tr>
    <% end %>
   </tbody>
  </table>
</div>

<%= paginate @genre_page %>