	<%= form_with model:current_customer,  url: {controller: 'customers', action: 'update' }, local:true do |f| %>
	<div class="container">
    <div class="row">
      <div class="form-group">
      	<table>
      		<h4>会員情報編集</h4>
            <tr>
        	    <div class="customer-form">
          	    <th><%= f.label "氏名" %></th>
         	      <th><%= f.text_field :last_name %></th>
         	      <th><%= f.text_field :first_name %></th>
     	      </tr>
            <tr>
              <th><%= f.label "フリガナ"%></th>
              <th><%= f.text_field :last_name_kana %></th>
              <th><%= f.text_field :first_name_kana %></th>
            </tr>
		        <tr>
              <th><%= f.label "郵便番号" %></th>
              <th><%= f.text_field :zipcode %></th>
            </tr>
            <tr>
              <th><%= f.label "住所" %></th>
              <th><%= f.text_field :address, :size => "60*60" %></th>
            </tr>
            <tr>
              <th><%= f.label "電話番号"%></th>
              <th><%= f.text_field :phone_number %></th>
            </tr>
            <tr>
              <th><%= f.label "メールアドレス" %></th>
              <th><%= f.email_field :email, autocomplete: "email" %></th>
            </th>
         </table>
       </div>
    </div>

    <div class="row">
      <div class="col-xs-6 col-xs-offset-4">
        <%= f.submit "編集内容を保存", class: "btn btn-success" %>
        <%= link_to "退会する", unsubscribe_my_page_path, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
  <div>
<% end %>


