
=======
<%= form_with model: @order, url: order_confirm_orders_path, local: true do |f| %>
  <h4>注文情報入力</h4>
  <div>
    <h5>支払方法</h5>
    <%= f.radio_button :payment_method, "クレジットカード", checked: true %>
    <span>クレジットカード</span><br>
    <%= f.radio_button :payment_method, "銀行振り込み" %>
    <span>銀行振り込み</span>
  </div>

  <div>
    <h5>お届け先</h5>
    <div><!--customerテーブルに登録されている住所への配達-->
      <%= f.radio_button :shipping_method, "1", checked: true %>
      <span>ご自身の住所</span>
      <div>
        <span>〒<%= current_customer.zipcode %> <%= current_customer.address %></span><br>
        <span><%= current_customer.last_name %> <%= current_customer.first_name %></span>
      </div>
    </div>
    <div><!--customer.shipping_informationsに登録されている住所への配達-->
      <%= f.radio_button :shipping_method, "2" %>
      <span>登録済み住所から選択</span>
      <div>
        <%= f.collection_select :shipping_information, current_customer.shipping_informations, :id, :merge_zipcode_to_name  %>
      </div>
    </div>
    <div><!--フォームに入力した新しい配送先住所に配達する。ラジオボタンが選択されていたらorders#createでShipping_information.createする。-->
      <%= f.radio_button :shipping_method, "3" %>
      <span>新しいお届け先</span>
      <div class="form-group row">
        <%= f.label :zipcode, "郵便番号（ハイフンなし）", class: "col-3" %>
        <%= f.text_field :zipcode, placeholder: "0000000", class: "form-control col-2" %>
      </div>
      <div class="form-group row">
        <%= f.label :address, "住所", class: "col-3" %>
        <%= f.text_field :address, placeholder: "東京都渋⾕区代々⽊神園町0-0", class: "form-control col-5" %>
      </div>
      <div class="form-group row">
        <%= f.label :name , "宛名", class: "col-3" %>
        <%= f.text_field :name, placeholder: "令和道子", class: "form-control col-2" %>
      </div>
    </div>
  </div>
  <div><%= f.submit "確認画面へ進む", class: "btn btn-primary" %></div>
<% end %>
>>>>>>> develop
