<h4>注⽂情報確認</h4>

  <h5>支払方法</h5>
  
  <h5>お届け先</h5>
  <%= @order.zipcode %>
  <%= @order.address %><br>
  <%= @order.name %>

<!--保存(購入)する内容-->
<%= form_with model: @order, local: true do |f| %>
  <!--<= f.hidden_field :peyment_method %>-->
  <%= f.hidden_field :zipcode, value: @order.zipcode %>
  <%= f.hidden_field :address, value: @order.address %>
  <%= f.hidden_field :name, value: @order.name %>
  <%= f.submit "購入を確定する", class: "btn btn-primary" %>
<% end %>  
