<%= form_with model:@shipping_information, url:'/', local:true do |f| %>
 <h4 class="col-xs-8 col-xs-offset-2">配送先編集</h4>
  <div class="row">
    <table class="input-table">
      <tbody>
          <div class="field">
            <tr>
              <td>郵便番号(ハイフンなし)</td>
              <td><%= f.text_field :zipcode %></td>
            </tr>
          </div>
          <div class="field">
            <tr>
              <td>住所</td>
              <td><%= f.text_field :address %></td>
            </tr>
          </div>
          <div class="field">
            <tr>
              <td>宛名</td>
              <td><%= f.text_field :name %></td>
              <td style="padding-left: 60px;"><%= f.submit '変更内容を保存',method: :patch, class: "btn btn-success" %></td>
            </tr>
          </div>
      </tbody>
    </table>
  </div>
  <% end %>