<!--配送先登録、一覧-->

<%= form_with model:@shipping_information, url:'/shipping_informations', local:true do |f| %>
<div class="container">
  <h4 class="col-xs-6 col-xs-offset-2">配送先登録／一覧</h4>
  <br>
  <div class="row">
    <table class="input-table">
      <tbody>
          <div class="field">
            <tr>
              <td>郵便番号(ハイフンなし)</td>
              <td><%= f.text_field :zipcode, placeholder: "0000000" %></td>
            </tr>
          </div>
            <br>
          <div class="field">
            <tr>
              <td>住所</td>
              <td><%= f.text_field :address, :size => "60*60",placeholder: "東京都渋谷区神園町00-0" %></td>
            </tr>
          </div>
            <br>
          <div class="field">
            <tr>
              <td>宛名</td>
              <td><%= f.text_field :name,  placeholder: "情熱 ハラミ"%></td>
              <td style="padding-left: 60px;"><%= f.submit '新規登録', class: "btn btn-success" %></td>
            </tr>
          </div>
      </tbody>
    </table>
  </div>
  <% end %>
  <br>
  <br>

     <table class="table table-bordered table-striped">
      <tr class="active">
        <th>郵便番号</th>
        <th>住所</th>
        <th>宛名</th>
        <th></th>
      </tr>
      <% @shipping_informations.each do |shipping_information|%>
        <tr>
          <th><%= shipping_information.zipcode %></th>
          <th><%= shipping_information.address %></th>
          <th><%= shipping_information.name %></th>
          <td align="center">
          <%= link_to "編集する",edit_shipping_information_path(shipping_information.id), class: "btn btn btn-success" %>
          <%= link_to "削除する",shipping_information_path(shipping_information.id) , method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn btn-danger" %>
          </td>
        </tr>
      <% end %>
    </table>
</div>
