<div class="container">
  <div class="pb-5">
    <h4>商品一覧</h4>
    <div>
      <%= link_to new_admin_product_path do %>
        <i class="fas fa-plus-circle fa-2x fa-pull-right" ></i>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <table class="table table-sm">
      <thread>
        <tr>
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜価格</th>
          <th>ジャンル</th>
          <th>ステータス</th>
        </tr>
      </thread>
      <tbody>
        <% @products.each do |product| %>
        <tr>
          <td><%= product.id %></td>
          <td><%= link_to product.name, admin_product_path(product) %></td>
          <td><%= product.price.to_s(:delimited) %> 円</td>
          <td><%= product.genre.name %></td>
          <td>
            <% if product.sales_status == true %>
            <p class="text-success">販売中</p>
            <% elsif product.sales_status == false %>
            <p class="text-secondary">販売停止中</p>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
  </table>
</div>


<%= paginate @products %>