<h4>商品一覧<h4>

<table class='table'>
  <thread>
    <tr>
      <th>商品ID</th>
      <th>商品名</th>
      <th>税抜価格</th>
      <th>ジャンル</th>
      <th>ステータス</th>
    </tr>
  </thread>
  <tbody>
    <% @products.each do |product| %>
    <tr>
      <td><%= product.id %></td>
      <td><%= product.name %></td>
      <td><%= product.price %></td>
      <td><%= product.genre %></td>
      <td><%= product.sales_status %></td>
    </tr>
    <% end %>
  </tbody>
</table>